#number-projects-nd {
    font-size: 30px;
    color: black;
    float: right;  /*To align text to rhs (text-align: right didn't work)*/
}

#total-donations-nd {
    font-size: 30px;
    color: black;
    float: right;
}

#students-reached-nd {
    font-size: 30px;
    color: black;
    float: right;
}

#schools-assisted-nd {
    font-size: 30px;
    color: black;
    float: right;
}

/*.num-disp {*/
    /*font-size: 30px;*/
    /*color: black;*/
    /*float: right;  !*To align text to rhs (text-align: right didn't work)*!*/
/*}*/

.chart-title {
    text-align: center;
}

.dc-chart g.row text {
    fill: black;
    font-size: 12px;
}

/*#total-projects {*/
    /*background: #33CC99;*/
    /*width: 200px;*/
    /*position: relative;*/
    /*height: 60px;*/
    /*font-size: 29px;*/
    /*color: white;*/
    /*vertical-align: middle;*/
    /*text-align: center;*/
    /*padding-top: 12px;*/
    /*padding-bottom: 0px;*/
/*}*/

/*Don't know what this was for*/
/*#net-donations {*/
    /*background: #33CC99;*/
    /*width: 200px;*/
    /*position: relative;*/
    /*height: 60px;*/
    /*font-size: 29px;*/
    /*color: white;*/
    /*vertical-align: middle;*/
    /*text-align: center;*/
    /*padding-top: 12px;*/
    /*padding-bottom: 0px;*/
/*}*/

.dc-select-menu {
    background: orangered;
    width: 100%;
    border: none;
    position: relative;
    height: 31px;
    font-size: 15px;
    color: white;
    vertical-align: middle;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 0px;
    margin: auto;
}
/* Slightly indent the navbar buttons from rhs */
li > a {
    margin-right: 20px;
}

/* To space out the divs in the top data row - doesn't work*/
/*
.row1 {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: flex-start;
}
*/

.reset_chart {
    float: right;
}

/*.section {*/
    /*border: 2px solid lightgray;*/
    /*border-radius: 5px;*/
/*}*/

.hider_group {
    color: blue;
}

.hidden_group {
    display: none;
}

/*Changes colour of pie chart label (% marked in slice) from white to black.*/
/*Allows use of same colours as row chart*/
.dc-chart text.pie-slice {
    fill: black;
}

.customDefault .introjs-nextbutton {
        color: orangered;
}

.lastStep .introjs-nextbutton {
        color: gray;
}

.lastStep .introjs-skipbutton {
        color: orangered;
}

.customDefault span {
        font-weight: bold;
}

