/* Slightly indent the navbar buttons from rhs */
li > a {
    margin-right: 20px;
}

/*style the 3 questions near the top*/
.hider_group {
    color: blue;
}

/*change default toggle status of answers*/
.hidden_group {
    display: none;
}

/*style the U.S.State drop-down menu*/
.dc-select-menu {
    background: blue;
    width: 100%;
    border: none;
    position: relative;
    height: 31px;
    font-size: 15px;
    color: white;
    vertical-align: middle;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 0;
    margin: auto;
}

/*centre the number display titles in each div (flexbox not req'd)*/
.chart-title {
    text-align: center;
    color: black !important;  /* to override keen-dashboard styling*/
}

/*set parent div of state menu and number displays to allow use of flexbox to centre content */
.chart-stage {
    display: flex;
    align-items: center;
}

/*centre the drop-down menu within parent*/
#menu-select {
    margin: auto;
}

/*style number displays*/
.num-disp {
    margin: auto;  /* to centre the numbers*/
    font-size: 22px;
    color: black;
}

/*move the 'reset' to the right side of the chart title*/
.reset_chart {
    float: right;
}

/*style row chart labels (text displayed in bars)*/
.dc-chart g.row text {
    fill: black;
    font-size: 12px;
}

/*make pie chart label text black*/
.dc-chart text.pie-slice {
    fill: black;
}

/*style intro.js*/
.customDefault .introjs-nextbutton {
    color: red;
    font-weight: bold;
}

.lastStep .introjs-nextbutton {
    color: gray;
    font-weight: normal;
}

.lastStep .introjs-skipbutton {
    color: red;
    font-weight: bold;
}

.customDefault span {
    font-weight: bold;
}

.chart-wrapper {
    border: 1px solid blue;
}


