#number-projects-nd {
    font-size: 60px;
}

#total-donations-nd {
    font-size: 60px;
}

#students-reached-nd {
    font-size: 60px;
}

#schools-assisted-nd {
    font-size: 60px;
}

.dc-chart g.row text {
    fill: black;
    font-size: 12px;
}

#total-projects {
    background: #33CC99;
    width: 200px;
    position: relative;
    height: 60px;
    font-size: 29px;
    color: white;
    vertical-align: middle;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 0px;
}

#net-donations {
    background: #33CC99;
    width: 200px;
    position: relative;
    height: 60px;
    font-size: 29px;
    color: white;
    vertical-align: middle;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 0px;
}

.dc-select-menu {
    background: #33CC99;
    width: 120%;
    border: none;
    position: relative;
    height: 31px;
    font-size: 15px;
    color: white;
    vertical-align: middle;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 0px;
}

/* Colour the School Donations Dashboard text in navbar white */
#navsdd {
    color: #fbfbfb;
}

/* Slightly indent the navbar buttons from rhs */
li > a {
    margin-right: 20px;
}

/* To space out the divs in the top data row - doesn't work*/
/*
.row1 {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: flex-start;
}
*/

.reset_chart {
    float: right;
}