<!DOCTYPE html>
<html>
<head>
    <title>School Donations Dashboard</title>
    <link rel="stylesheet" href="{{ url_for ('static',filename='lib/css//bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for ('static',filename='lib/css/keen-dashboards.css') }}">
    <link rel="stylesheet" href="{{ url_for ('static',filename='lib/css/dc.css') }}">
    <link rel="stylesheet" href="{{ url_for ('static',filename='css/custom.css') }}">
    <link rel="stylesheet" href="{{ url_for ('static',filename='lib/css/introjs.css') }}">
</head>
<body class="application">

<!--Navbar-->
<nav class="navbar navbar-inverse navbar-fixed-top container" role="navigation">  <!-- container class added to indent navbar-->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="./">School Donations Dashboard</a>

  </div>

  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-right">
        <li><a autofocus href="#" onclick="javascript:introJs().start();">
                Start Tour!</a></li>
        <li><a href="javascript:dc.filterAll();dc.redrawAll();">Reset Data</a></li>
    </ul>
  </div>
</nav>
<!--/Navbar-->


<div id="outer" class="container">

    <!--Opening text-->
    <div class="row">
        <div class="col-xs-12">
            <p>This is an interactive dashboard created from data made available by <a href="https://www.donorschoose.org/">DonorsChoose.org</a>.</p>
            <br>
            <p>Click on the following to expand:</p>
            <h4 class="hider_group" id="hider1">Who is DonorsChoose.org?</h4>
                <div class="hidden_group" id="hidden1">
                    <p>DonorsChoose.org is a US-based nonprofit organization that allows individuals to donate money directly to public school classroom projects. Public school teachers post classroom project requests on the website, allowing individuals and companies to browse through them and donate money directly to a project of their choice. The projects fund a variety of things, such as new classroom equipment, learning materials and school trips.</p>
                    <p>DonorsChoose.org was founded in 2000 by a history teacher working in a Bronx public high school. Since inception it has reached over 70% of public schools across the US, raising hundreds of millions of dollars in funding.</p>
                    <p>DonorsChoose.org has made its data available to the public for making discoveries and building applications.</p>
                </div>
            <br>
            <h4 class="hider_group" id="hider2">What is the purpose of this website?</h4>
                <div class="hidden_group" id="hidden2">
                    <p>I am a graduate who benefited from DonorsChoose.org’s funding whilst at high school. I have built this website to promote the good work that DonorsChoose.org does, and as an interactive tool to allow people to look more closely at the projects supported.</p>
                </div>
            <br>
            <h4 class="hider_group" id="hider3">How do I use this website?</h4>
                <div class="hidden_group" id="hidden3">
                    <p>The data provided by DonorsChoose.org has been used to build interactive visualisations that you can manipulate to show information that interests you. For instance, you can look at data from your home state, or for projects supporting your favourite subject, or both at the same time!<p>
                    <p>There are instructions written to help you manipulate the visualisations in order to filter the information you are looking for. Just click on the ‘Start Tour!’ button at the top of the page to begin!</p>
                </div>
            <br>
        </div>
    </div>
    <!--Opening text-->

    <hr>

    <!--Top row with numerical text data-->
    <div class="row">
        <div class="col-xs-12">
            <h4>Headline data</h4>
                    <p>The following visualisations show the headline numbers for the dataset selected. By default, the dataset is for the entire US but can be filtered to individual states using the Donation State drop-down menu</p>

        </div>
    </div>

    <div class="row">

        <!-- state select -->
        <div class="col-xs-4 col-md-2 row1">
            <div class="chart-wrapper" data-step=" 1 " data-intro="By default, the dashboard is set up to use the entire dataset. However, you can elect to use data for individual states by selecting them from the drop-down menu. If you do so, all the data visualisations will update to reflect the new dataset.
                <br><br>To return to the entire US, click on ‘Select all’ in the dropdown menu.
                    "
                 style="font-weight: normal" data-position="right">
                <div class="chart-title">
                    Donation State
                </div>
                <div class="chart-stage">
                    <div id="menu-select"></div>
                </div>
            </div>
        </div>
        <!state select -->

        <!-- Metric 1 -->
        <div class="col-xs-4 col-md-2 row1">
            <div class="chart-wrapper">
                <div class="chart-title">
                    Number of Projects
                </div>
                <div class="chart-stage" style="
                    /*width: 200px;*/
                    position: relative;
                    /*height: 60px;*/
                    font-size: 29px;
                    color: black;
                    vertical-align: middle;
                    text-align: center;
                    padding-top: 12px;
                    padding-bottom: 0px;">
                    <div id="number-projects-nd"></div>
                </div>
            </div>
        </div>
        <!-- Metric 1 -->

        <!-- Metric 2 -->
        <div class="col-xs-4 col-md-2 row1">
            <div class="chart-wrapper">
                <div class="chart-title">
                    Total Donations (USD)
                </div>
                <div class="chart-stage">
                    <div id="total-donations-nd"></div>
                </div>
            </div>
        </div>
        <!-- Metric 2 -->

        <!-- Metric 3 -->
        <div class="col-xs-4 col-xs-offset-4 col-md-2 row1">
            <div class="chart-wrapper">
                <div class="chart-title">
                    Schools Assisted
                </div>
                <div class="chart-stage">
                    <div id="schools-assisted-nd"></div>
                </div>
            </div>
        </div>
        <!-- Metric 3 -->

        <!-- Metric 4 -->
        <div class="col-xs-4 col-xs-offset-4 col-md-2 row1">
            <div class="chart-wrapper">
                <div class="chart-title">
                    Students Reached
                </div>
                <div class="chart-stage">
                    <div id="students-reached-nd"></div>
                </div>
            </div>
        </div>
        <!-- Metric 4 -->

    </div><!-- /Top row with numerical text data-->

    <hr>

    <div class="row">
        <!--time chart text-->
        <div class="col-sm-12">
            <h4>Projects over time</h4>
                <p>This time chart displays the number of projects posted each month for the period covered by the dataset. You can narrow the time period and the other charts will update to only show data for the selected period.</p>
        </div>
        <!--time chart text-->
    </div>

    <div class="row">
        <!-- Time Chart -->
        <div class="col-md-12">
            <div class="chart-wrapper" data-step=" 2 " data-intro="This time chart is also interactive.
                <br><br>You can narrow the period of time covered to just that you are interested in.
                <br><br>First, click on the graph. Two selectors appear; although they look like one, there is actually a left hand one and a right hand one next to each other. Click and drag the selectors so that the shaded area between them covers the desired period.
                <br><br>Again, you will notice that all the other data visualisations are updated to reflect the selection you have made.
                <br><br>If you wish to remove a selected time period, just click on 'reset' in the top right corner of the chart.
                    "
                 style="font-weight: normal" data-position="right">
                <div class="chart-title">
                    Number of Projects
                    <a class="reset_chart" href="javascript:timeChart.filterAll();dc.redrawAll();">reset</a>
                </div>
                <div class="chart-stage">
                    <div id="time-chart"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Time Chart -->

    <hr>

    <div class="row">

        <div class="col-sm-12">
            <h4>Project attributes</h4>
                <p>The following four charts display different attributes of the projects selected. If you are interested in data for certain attributes, for instance you may wish to look at projects aimed at students in the most impoverished locations, you can select an attribute (or several) and the other charts are updated to show that data.</p>
        </div>

    </div>

    <div class="row">

        <!-- Primary Focus Area -->
        <div class="col-xs-12 col-sm-6 col-lg-3">
            <div class="chart-wrapper" data-step=" 3 " data-intro="The two row charts and pie charts all behave in a similar fashion, in that you can click on them to narrow the selection of data.
                <br><br>Click on a row, a segment, or a legend to make a selection. For instance, click on ‘Math and Science’ and all the visualisations in the dashboard will update to show projects whose primary area of focus was Math and Science.
                <br><br>To reset individual charts, click ‘reset’ in the top right corner of the chart.
                <br><br>To reset all* the data on the dashboard, click 'Reset Data' in the navigation bar.
                <br><br>* Please note that Donation State is not reset to its default ‘Select All’ and has to be done manually.
                    "
                 style="font-weight: normal" data-position="right">
                <div class="chart-title">
                    Primary Focus Area
                    <a class="reset_chart" href="javascript:primaryAreaChart.filterAll();dc.redrawAll();">reset</a>
                </div>
                <div class="chart-stage">
                    <div id="primary-area-row-chart"></div>
                </div>
            </div>
        </div>
        <!-- Primary Focus Area -->

        <!-- Resources -->
        <div class="col-xs-12 col-sm-6 col-lg-3">
            <div class="chart-wrapper">
                <div class="chart-title">
                    Type of Resource
                    <a class="reset_chart" href="javascript:resourceTypeChart.filterAll();dc.redrawAll();">reset</a>
                </div>
                <div class="chart-stage">
                    <div id="resource-type-row-chart"></div>
                </div>
            </div>
        </div>
        <!-- Resources -->

        <!-- Poverty -->
        <div class="col-xs-12 col-sm-6 col-lg-3">
            <div class="chart-wrapper">
                <div class="chart-title">
                    Poverty Level
                    <a class="reset_chart" href="javascript:povertyLevelChart.filterAll();dc.redrawAll();">reset</a>
                </div>
                <div class="chart-stage">
                    <div id="poverty-level-chart"></div>
                </div>
            </div>
        </div>
        <!-- Poverty -->

        <!-- Grade Pie -->
        <div class="col-xs-12 col-sm-6 col-lg-3">
            <div class="chart-wrapper">
                <div class="chart-title">
                    Grade Level
                    <a class="reset_chart" href="javascript:gradeLevelChart.filterAll();dc.redrawAll();">reset</a>
                </div>
                <div class="chart-stage">
                    <div id="grade-chart"></div>
                </div>
            </div>
        </div>
        <!-- Grade Pie -->

    </div>

    <hr>
    <p class="small text-muted">Code Institute Stream 2 Dashboard Project</p>

</div>




<script src="{{ url_for ('static',filename='lib/js/jquery.min.js') }}"></script>
<script src="{{ url_for ('static',filename='lib/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for ('static',filename='lib/js/crossfilter.js') }}"></script>
<script src="{{ url_for ('static',filename='lib/js/d3.js') }}"></script>
<script src="{{ url_for ('static',filename='lib/js/dc.js') }}"></script>
<script src="{{ url_for ('static',filename='lib/js/queue.js') }}"></script>
<script src="{{ url_for ('static',filename='lib/js/reductio.min.js') }}"></script>  <!-- library for generating Crossfilter reduce functions -->


<script src="{{ url_for ('static',filename='lib/js/keen.min.js') }}"></script>
<script src="{{ url_for ('static',filename='js/graph.js') }}" type='text/javascript'></script>
<script src="{{ url_for ('static',filename='lib/js/intro.js') }}" type="text/javascript"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{{ url_for ('static',filename='js/jq.js') }}" type="text/javascript"></script>
</body>
</html>











